@font-face {
  font-family: IRANSansFaNum;
  font-style: normal;
  font-weight: normal;
  src: url('IRANSansWeb(FaNum).eot');
  src: url('IRANSansWeb(FaNum)?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('IRANSansWeb(FaNum).woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('IRANSansWeb(FaNum).woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('IRANSansWeb(FaNum).ttf') format('truetype');
}

